@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username img {
  width: 32px;
  margin-right: 8px;
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}

.flex-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .column.is-one-third-1280 {
    flex: none;
    width: 33.3333%;
  }
}